/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: GreatVictorian;
  src: url('../../public/fonts/greatvictorian/GreatVictorian-Swashed.otf');
}

@font-face {
  font-family: greatVictorianStandard;
  src: url('../../public/fonts/greatvictorian/GreatVictorian-Standard.otf');
}

.greatVictorian {
  font-family: greatVictorian;
}

.greatVictorianStandard {
  font-family: greatVictorianStandard;
}

h1 {
  font-family: GreatVictorian;
  font-size: 4rem;
}

.logo {
  font-family: GreatVictorian;
}

.hero-image {
  width: 31%;
  animation: spin 25s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.text-container {
  width: 43rem;
}

.text-container h1 {
  font-family: GreatVictorian;
  font-size: 7rem;
  font-weight: 500;
  line-height: 7rem;

}

.v-m {
  box-shadow: 1px 1px 5px rgb(0, 0, 0.5);
}

.hero-section-2 {
  width: 30rem;
  margin: 7rem auto 5rem;
  text-align: center;
}

.hero-section-2 h1 {
  font-weight: 500;
}



.specialities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  /* background-color: rgb(242, 242, 242); */
  /* border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 5px rgb(186, 186, 186); */

}

/* .thali {
  width: 12rem;
  width: 12rem;
} */

.guide-section-1 {
  width: 36rem;
}

.guide-section-1 h1{
  font-family: GreatVictorian;
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.5rem;

}

.chef {
  width: 25rem;
}

.history-section-1 {
  width: 50rem;

}

.history-section-1 h1{
  font-family: GreatVictorian;
  font-size: 4rem;
  font-weight: 500;
}


/* .history-section-2 {
} */

.history-info h1{
  font-family: GreatVictorian;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.5rem;
}

.history-info h1:first-child {
  color: rgb(126, 126, 126);
}

.history-info {
  width: 40rem;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
}

.link-wrapper a {
  line-height: 25px;
}





/* menu */


.card {
  overflow: visible;
  width: 250px;
  height: 350px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 5px 1px #666666ee;
  border-radius: 5px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.front {
  background-color: #151515;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}


.front {
  transform: rotateY(180deg);
  color: white;

}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 1rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: .9rem;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* *************************************************************** */




@media screen and (max-width : 1024px){

.text-container {
  width: 30rem;
}

  .text-container  h1{
    font-size: 4.5rem;
    line-height: 5rem;
  }
  
  .specialities-wrapper{
    margin: 0 1rem;
  }

  .guide-section-1 {
    text-align: center;
    margin-top: 2rem;
  }

  .guide-section-1 h1 {
    font-size: 3.5rem;
  }

  .h-d-wrapper img {
    width: 20%;
  }
}



@media screen and (max-width : 720px){
  .text-container {
    text-align: center;
  }

  .hero-image {
    margin-top: 3rem;
    width: 50%;
  }

  .history-section-1 {
    width: 31rem;
  }

  .guide-section-1 {
    width: 31rem;
    text-align: center;
    margin-top: 2rem;
  }

  .guide-section-1 h1 {
    font-size: 3rem;
  }

  .guide-section-2 img {
    width: 80%;
    margin: auto;
  }

  .history-info {
    width: 30rem;
    text-align: center;
  }

  .h-d-wrapper img {
    width: 40%;
  }

  .link-wrapper {
    width: 15rem;
  }
}


@media screen and (max-width : 500px){
.text-container {
  width: 25rem;
  text-align: center;
}

  .text-container h1 {
    font-size: 4rem;
  }

  .hero-image {
    width: 70%;
    margin:5rem 0 0 0;
  }

  .hero-section-2 {
    width: 25rem;
  }

  .guide-section-1 {
    text-align: center;
    margin: 2rem;
  }

  .guide-section-1 h1 {
    font-size: 3rem;
  }

.history-section-1 {
  width: 80%;
}

.history-section-1 h1 {
  line-height: 4rem;
}

  .h-d-wrapper img {
    width: 50%;
  }

  .h-d-wrapper div {
    width: 20rem;
    text-align: center;
  }

  .footer-section-1 {
    text-align: center;
  }


  .footer-section-1 div{
    width: 9rem;
    margin-top: 1rem;
  }
}